# file directory
data/
venv/
Shiddenlayer/
.idea/
.ipynb_checkpoints/
videos/
alarm_system/frontend/node_modules/
alarm_system/frontend/vite-project/

# file
*.pth
*.pkl
*.caffemodel
*.csv
*.log
*.prototxt
config.py
test.py
**/__pycache__
package-lock.json

# etc
data_name.py
*.zip
source/
source_1/
*.gitignore


