# file directory
data/
venv/
Shiddenlayer/
.idea/
.ipynb_checkpoints/
videos/

# file
*.pth
*.pkl
*.caffemodel
*.csv
*.log
*.prototxt
config.py
test.py
**/__pycache__

# etc
data_name.py
*.zip
source/
source_1/
*.gitignore