<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<body>
    <h1> login page</h1>

    <form action="{{ url_for('main.signin_request') }}" method="post" enctype="multipart/form-data">
        <div>
            <label for="email">이메일:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">비밀번호:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">로그인</button>
    </form>

</body>
</html>